<!doctype html>
<!--[if IE 8]>         <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if IE 9]>         <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">      
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/core.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

    <!-- header section -->
    <header class="musthead" class="site-header">
      <div class="enclosure">
        <div class="header-sup">
          <div class="grid">
            <div class="pane pane-left">              
              <div class="site-branding">
                <h1 class="site-logo" itemscope itemtype="http://schema.org/Organization">
                  <a href="#" title="site-name" itemprop="url">
                    <span itemscope itemtype="http://schema.org/ImageObject" itemprop="logo">
                      <img src="images/site-logo.png" alt="site-name" itemprop="url">
                    </span>
                  </a>
                  <span class="screen-reader" itemprop="name">site-name</span>
                </h1>
              </div>
            </div>
            <div class="pane pane-right">
              <!-- <div class="email">
                <p>Email: <a href="mailto:souravpal669@gmail.com">souravpal669@gmail.com</a></p>
              </div> -->
              <div class="tel">                
                <a href="tel:+919734741598">+91 9734 741 598</a>
              </div>
            </div>
          </div>
        </div>
        <div class="header-sub">
          <div class="menu-bar">
            <div id="primary-nav">
              <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Contact us</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- hero section -->
    <section class="section section-hero">
      <div class="slider owl-carousel">
        <div class="item" style="background-image: url(images/slider-01.jpg);">
          <div class="enclosure"></div>
        </div>
        <div class="item" style="background-image: url(images/slider-02.jpg);">
          <div class="enclosure"></div>
        </div>
        <div class="item" style="background-image: url(images/slider-03.jpg);">
          <div class="enclosure"></div>
        </div>    
      </div>
    </section>

    <section class="section section-services">
      <div class="enclosure">
        <div class="grid">
          <div class="pane pane-left"></div>
          <div class="pane pane-middle"></div>
          <div class="pane pane-right"></div>
        </div>
      </div>
    </section>

    <!-- footer -->
    <footer class="site-footer">
      <div class="footer-sup">
        <div class="enclosure">
          
        </div>
      </div>
      <div class="footer-sub">
        <div class="enclosure">
          
        </div>
      </div>
    </footer>
     
 
    <script>window.jQuery||document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"><\/script>')||document.write('<script src="js/jquery.min.js"><\/script>')</script>
    <script src="js/core.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>