<!doctype html>
<!--[if IE 8]>         <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if IE 9]>         <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">      
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/core.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="enclosure">

      
        <div class="block">
          <h1>header</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut feugiat arcu sit amet urna blandit, non porta nulla consequat. Morbi in malesuada mi. Integer urna erat, tempor in fringilla nec, euismod quis lorem. Cras tellus urna, vehicula ut nisl at, vestibulum convallis arcu. Quisque consequat diam quis ultrices laoreet. Vestibulum tempor luctus pellentesque. Pellentesque accumsan orci nec dui eleifend, vel placerat urna feugiat. Morbi faucibus at quam nec aliquet. Nulla facilisi. Sed porta venenatis hendrerit.</p>
        </div>
        <div class="block">
          <h1>header</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut feugiat arcu sit amet urna blandit, non porta nulla consequat. Morbi in malesuada mi. Integer urna erat, tempor in fringilla nec, euismod quis lorem. Cras tellus urna, vehicula ut nisl at, vestibulum convallis arcu. Quisque consequat diam quis ultrices laoreet. Vestibulum tempor luctus pellentesque. Pellentesque accumsan orci nec dui eleifend, vel placerat urna feugiat. Morbi faucibus at quam nec aliquet. Nulla facilisi. Sed porta venenatis hendrerit.</p>
        </div>
        <div class="block">
          <h1>header</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut feugiat arcu sit amet urna blandit, non porta nulla consequat. Morbi in malesuada mi. Integer urna erat, tempor in fringilla nec, euismod quis lorem. Cras tellus urna, vehicula ut nisl at, vestibulum convallis arcu. Quisque consequat diam quis ultrices laoreet. Vestibulum tempor luctus pellentesque. Pellentesque accumsan orci nec dui eleifend, vel placerat urna feugiat. Morbi faucibus at quam nec aliquet. Nulla facilisi. Sed porta venenatis hendrerit.</p>
        </div>
        <div class="block">
          <h1>header</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut feugiat arcu sit amet urna blandit, non porta nulla consequat. Morbi in malesuada mi. Integer urna erat, tempor in fringilla nec, euismod quis lorem. Cras tellus urna, vehicula ut nisl at, vestibulum convallis arcu. Quisque consequat diam quis ultrices laoreet. Vestibulum tempor luctus pellentesque. Pellentesque accumsan orci nec dui eleifend, vel placerat urna feugiat. Morbi faucibus at quam nec aliquet. Nulla facilisi. Sed porta venenatis hendrerit.</p>
        </div>


    </div>
 
    <script>window.jQuery||document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"><\/script>')||document.write('<script src="js/jquery.min.js"><\/script>')</script>
    <script src="js/core.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>