<!doctype html>
<!--[if IE 8]>         <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if IE 9]>         <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">      
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/core.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
  <div class="slider owl-carousel">
    <div>
    <a class="fancybox" rel="gallery1"  id="single_1" href="images/1.jpg" >
    <img src="images/1.jpg" alt=""  height="200" width="200" />    
    </a>  </div>
    <div>
    <a class="fancybox" rel="gallery1"  id="single_1" href="images/1.jpg" >
    <img src="images/1.jpg" alt=""  height="200" width="200" />    
    </a>  </div>
    <div>
    <a class="fancybox" rel="gallery1"  id="single_1" href="images/1.jpg" >
    <img src="images/1.jpg" alt=""  height="200" width="200" />    
    </a>  </div>
    <div>
    <a class="fancybox" rel="gallery1"  id="single_1" href="images/1.jpg" >
    <img src="images/1.jpg" alt=""  height="200" width="200" />    
    </a>  </div>
  </div> 
  <div class="slider1 owl-carousel">
    <div>123</div>
    <div>123</div>
    <div>123</div>
    <div>123</div>
  </div>
  <nav id="primary-nav">
    <ul>
      <li><a href="#">About us</a></li>
      <li><a href="#">About us</a></li>
      <li><a href="#">About us</a></li>
      <li><a href="#">About us</a></li>
      <li><a href="#">About us</a></li>
    </ul>
  </nav>
  <div >
    <a class="fancybox" rel="gallery1"  id="single_1" href="images/1.jpg" >
    <img src="images/1.jpg" alt=""  height="200" width="200" />    
    </a>        
    <a class="fancybox" rel="gallery1"  id="single_1" href="images/2.jpg" >
    <img src="images/2.jpg" alt="" height="200" width="200" />
    </a>
    <a class="fancybox" rel="gallery1"  id="single_1" href="images/3.jpg" >
    <img src="images/3.jpg" alt="" height="200" width="200" />
    </a>
    <a class="fancybox" rel="gallery1"  id="single_1" href="images/1.jpg" >
    <img src="images/1.jpg" alt=""  height="200" width="200" />    
    </a>        
    <a class="fancybox" rel="gallery1"  id="single_1" href="images/2.jpg" >
    <img src="images/2.jpg" alt="" height="200" width="200" />
    </a>
    <a class="fancybox" rel="gallery1"  id="single_1" href="images/3.jpg" >
    <img src="images/3.jpg" alt="" height="200" width="200" />
    </a>
    <a class="fancybox" rel="gallery1"  id="single_1" href="images/1.jpg" >
    <img src="images/1.jpg" alt=""  height="200" width="200" />    
    </a>        


  </div>


 
    <script>window.jQuery||document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"><\/script>')||document.write('<script src="js/jquery.min.js"><\/script>')</script>
    <script src="js/core.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>