<!-- logo -->
<div class="site-branding">
  <h1 class="site-logo" itemscope itemtype="http://schema.org/Organization">
    <a href="#" title="site-name" itemprop="url">
      <span itemscope itemtype="http://schema.org/ImageObject" itemprop="logo">
        <img src="images/site-logo.png" alt="site-name" itemprop="url">
      </span>
    </a>
    <span class="screen-reader" itemprop="name">site-name</span>
  </h1>
</div>

	
<section class="section section-suffix">
	<div class="enclosure">
		<header class="section-header">
			<h2 class="section-title"></h2>			
		</header>	
		<div class="section-content"></div>		
	</div>	
</section>

<div class="menu-bar">
	<nav id="primary-nav">
		<ul>
			<li></li>
		</ul>
	</nav>
</div>